{% extends "layout.html" %}
    {% block content %}
        <div class="content-div">
            <h2>Client Info for ID: {{id}}: {{firstname}} {{lastname}}</h2>
            <div class="client_detail">
                <div class="row">
                    <div class="col">
                        <p>
                            <b>Client:</b> ID: {{id}}: {{firstname}} {{lastname}}
                        </p>
                    </div>
                    <div class="col">
                        <p>
                            <b>Business Name:</b> {{busname}}
                        </p>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>
                                <b>Phone:</b> {{phone}}
                            </p>
                        </div>
                        <div class="col">
                            <p>
                                <b>Email:</b> {{email}}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>
                                <b>Date Added:</b> {{date}}
                            </p>
                        </div>
                        <div class="col">
                            <p>
                                <b>Status:</b> {{status}}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <p><b>Info</b></p>
                        <p>{{info}}</p>
                    </div>
                    <div class="row">
                        <button style="width:50px; margin-right:20px" type="button" class="btn btn-primary"><a href="\edit\{{id}}">edit</a></button>
                        <button style="width:70px" type="button" class="btn btn-danger"><a href="\delete\{{id}}">delete</a></button>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}