{% extends "layout.html" %}
    {% block content %}
        <div class="content-div">
            <h1>NP Systems Client List</h1>
            <ul class="list-group main_client_list">
                {% for client in clients %}
                <li class="list-group-item">
                    <span>ID: {{client[0]}} - {{client[2]}}, {{client[1]}} - {{client[3]}} - Status: {{client[6]}} - {{client[7]}}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endblock %}