{% extends "layout.html" %}
    {% block content %}
        <div class="content-div">
            <h1>NP Systems Client List</h1>
            <ul class="list-group main_client_list">
                <li class="list-group-item">
                    <span>ID: 001 - Jenkins, Bob - Jenkins Finanical - Status: Active - 10.23.2023</span>
                </li>
                <li class="list-group-item">
                    <span>ID: 001 - Jenkins, Bob - Jenkins Finanical - Status: Active - 10.23.2023</span>
                </li>
                <li class="list-group-item">
                    <span>ID: 001 - Jenkins, Bob - Jenkins Finanical - Status: Active - 10.23.2023</span>
                </li>
                <li class="list-group-item">
                    <span>ID: 001 - Jenkins, Bob - Jenkins Finanical - Status: Active - 10.23.2023</span>
                </li>
                <li class="list-group-item">
                    <span>ID: 001 - Jenkins, Bob - Jenkins Finanical - Status: Active - 10.23.2023</span>
                </li>
            </ul>
        </div>
    {% endblock %}