{% extends "layout.html" %}
    {% block content %}
        <div class="content-div">
            <h1>NP Systems Client List</h1>
            <ul class="list-group main_client_list">
                {% for client in clients %}
                <li class="list-group-item">
                    <span><a href="\detail\{{client[0]}}">ID: {{client[0]}} - {{client[2]}}, {{client[1]}} - {{client[3]}} - Status: {{client[6]}} - {{client[7]}}</a></span>
                    <button class="btn btn-primary"><a href="\edit\{{client[0]}}">edit</a></button>
                    <button class="btn btn-primary"><a href="\delete\{{client[0]}}">delete</a></button>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endblock %}
